<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card>
      <ion-row>
        <ion-col>
          <p>Please enter your email address to request a password reset.</p>
        </ion-col>
      </ion-row>

      <ion-item lines = "full">
        <ion-label position = "floating">Email</ion-label>
        <ion-input type = "text" #userEmail required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type = "submit" (click)="authService.ForgotPassword (passwordResetEmail.value)" expand="block">Register</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <span>Go back to login?<span routerLink="/login">Log In</span></span>
        </ion-col>
      </ion-row>
    </ion-card>
  </form>

</ion-content>
