<ion-header>
  <ion-toolbar>
    <ion-buttons slot ="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card>
      <ion-card-header>
        <ion-card-title>User Profile</ion-card-title>
      </ion-card-header>

      <ion-row>
        <ion-col>
          <ion-button type ="submit" (click)="authService.SignOut ()" expand ="block">Logout</ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="authService.userData as user">
        <ion-col>
          <h1>Hello: <strong>{{ (user.displayName) ? user.displayName : 'User' }}</strong></h1>
          <p>User ID: <strong>{{ user.uid }}</strong></p>
          <p>Email: <strong>{{ user.email }}</strong></p>
          <p>Email Verified: <strong>{{ user.emailVerified }}</strong></p>
        </ion-col>
      </ion-row>
    </ion-card>
  </form>
</ion-content>

